body {
  font-family: "DynaPuff", "sans-serif";
  background: linear-gradient(253deg, #ffee32 -13.48%, #d6d6d6 125.48%);
}

.container {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1360px) {
    width: 704px;
  }

  @media (max-width: 800px) {
    width: 604px;
  }

  @media (max-width: 680px) {
    width: 504px;
  }

  @media (max-width: 560px) {
    width: 404px;
  }

  @media (max-width: 480px) {
    width: 380px;
  }

  @media (max-width: 420px) {
    width: 343px;
  }

  @media (max-width: 390px) {
    width: 311px;
  }
}
