//color-variables
$yellow-grad: #ffee32;
$gray84: #d6d6d6;
$white: #fff;
$black: #202020;
$pure-yellow: #faeb49;
$bright-black: #3c3c3c;
$ivory-white: #fffef2;
$pure-black: #000;
$grey: #565656;
$gray95: #f2f2f2;
