.footer {
  background-color: $black;
  @include padding(78px, 0, 0, 30px);

  @media (max-width: 610px) {
    @include padding(96px, 0, 0, 35px);
  }
  @media (max-width: 390px) {
    @include padding(53px, 0, 0, 40px);
  }
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__content-link {
  text-decoration: none;
}

.footer__content-button {
  display: flex;
  gap: 45px;
  align-items: center;
  @include padding(42px, 137px, 137px, 42px);
  border-radius: 139px;
  border: 1px solid $gray95;

  @media (max-width: 1360px) {
    width: max-content;
    @include padding(22px, 47px, 47px, 22px);
    gap: 20px;
  }

  @media (max-width: 740px) {
    width: max-content;
  }

  @media (max-width: 610px) {
    width: max-content;
    @include padding(12px, 27px, 27px, 12px);
  }

  @media (max-width: 390px) {
    width: max-content;
  }
}

.footer__content-image {
  @include size(108px, 108px);

  @media (max-width: 740px) {
    @include size(51px, 52px);
  }
}

.footer__content-text-block {
  display: flex;
  flex-direction: column;
  gap: 17px;
  position: relative;

  @media (max-width: 740px) {
    gap: 4px;
  }
}

.footer__content-title {
  color: $white;
  @include text(48px, 700, normal);

  @media (max-width: 740px) {
    font-size: 34px;
  }
  @media (max-width: 620px) {
    font-size: 20px;
  }

  @media (max-width: 390px) {
    width: 211px;
  }
}

.footer__content-text {
  color: $white;
  font-family: Manrope;
  @include text(24px, 500, normal);

  @media (max-width: 740px) {
    font-size: 20px;
  }

  @media (max-width: 620px) {
    font-size: 15px;
  }
  @media (max-width: 390px) {
    width: 211px;
  }
}

.footer__content-text::after {
  content: "";
  @include size(60px, 28px);
  background-image: url(/images/icons/arrow-2.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: 234px;

  @media (max-width: 740px) {
    right: 124px;
    background-size: cover;
  }

  @media (max-width: 620px) {
    right: 24px;
    background-size: 40px 20px;
  }

  @media (max-width: 390px) {
    right: 28px;
  }
}

.footer__icons {
  display: flex;
  @include margin(164px, 0, 0, 22px);
}

.footer__icons-list {
  display: flex;
  gap: 34px;
}

.footer__icons-element {
  display: flex;
}

.footer__icons-link {
  text-decoration: none;
}

.footer__icons-image {
  @include size(24px, 24px);
}

.footer__text {
  color: $white;
  font-family: Manrope;
  @include text(16px, 500, normal);

  @media (max-width: 400px) {
    font-size: 14px;
  }
}
