.header {
  display: flex;
  flex-direction: column;
  @include padding(18px, 0, 0, 18px);
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content__image {
  @include size(56px, 56px);
}

.header-menu__list {
  display: flex;
  gap: 20px;
  @media (max-width: 1080px) {
    display: none;
  }
}

.header-menu__element {
  display: flex;
  gap: 12px;
  border-radius: 20px;
  border: 1px solid $white;
  @include padding(10px, 16px, 16px, 10px);
}

.header-menu__element-image {
  @include size(16px, 16px);

  &--hiden {
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #fff;
    display: none;
    @media (max-width: 1080px) {
      display: block;
    }
  }
}

.header__element-text {
  color: $white;
  font-family: Manrope;
  @include text(16px, 700, normal);
}

.section-hero {
  @include padding(400px, 0, 0, 115px);

  @media (max-width: 1000px) {
    @include padding(180px, 0, 0, 130px);
  }

  @media (max-width: 500px) {
    @include padding(330px, 0, 0, 150px);
  }
}

.header__title {
  color: $white;
  @include text(80px, 700, normal);
  width: 846px;

  @media (max-width: 1080px) {
    width: 521px;
  }

  @media (max-width: 660px) {
    width: 326px;
    font-size: 48px;
  }
}
