.main-author {
  display: flex;
  background-color: $black;
  @include padding(102px, 0, 0, 102px);
  position: relative;
  background-image: url(/images/icons/ellipse-2.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-position-x: right;

  @media (max-width: 970px) {
  }

  @media (max-width: 690px) {
    background-size: 300px 440px;
  }

  @media (max-width: 690px) {
    background-position-x: 130%;
  }

  @media (max-width: 520px) {
    background-size: 200px 340px;
  }

  @media (max-width: 470px) {
    background-position-x: 140%;
  }

  @media (max-width: 430px) {
    @include padding(72px, 0, 0, 76px);
    background-position-x: 150%;
  }

  @media (max-width: 400px) {
    background-position-x: 150%;
  }
}

.main-author__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.main-author__image {
  display: flex;
  @include size(552px, 520px);
}

.main-author__title {
  color: $pure-yellow;
  @include text(48px, 700, normal);

  @media (max-width: 970px) {
    font-size: 36px;
    width: 342px;
  }
}

.main-author__text {
  color: $white;
  font-family: Manrope;
  @include text(16px, 500, normal);
  width: 524px;

  @media (max-width: 970px) {
    font-size: 15px;
    width: 342px;
  }
}

.main-author__statistics {
  display: flex;
  gap: 96px;

  @media (max-width: 970px) {
    gap: 24px;
  }

  @media (max-width: 670px) {
    gap: 16px;
  }
}

.main-author__statistics-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main-author__statistics-num {
  color: $white;
  @include text(48px, 700, normal);

  @media (max-width: 1000px) {
    font-size: 36px;
  }
}

.main-author__statistics-text {
  color: $white;
  font-family: Manrope;
  @include text(16px, 700, normal);

  @media (max-width: 1000px) {
    width: 76px;
  }
}
