.main-design {
  background-color: $black;
  @include padding(82px, 0, 0, 138px);
}

.main-design__title {
  color: $white;
  @include text(80px, 700, normal);

  @media (max-width: 820px) {
    font-size: 64px;
  }

  @media (max-width: 820px) {
    font-size: 48px;
  }

  @media (max-width: 530px) {
    font-size: 36px;
  }
}

.main-design__content {
  display: flex;
  flex-direction: column;
  gap: 38px;
  position: relative;
}

.main-design__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 26px;

  @media (max-width: 660px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 20px;
  }
}

.main-design__element {
  position: relative;
}

.main-design__element:first-child {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.main-design__element:nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  @media (max-width: 660px) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.main-design__element:nth-child(3) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

  @media (max-width: 660px) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.main-design__element:nth-child(1)::after {
  content: "";
  background-image: url(/images/icons/Soft-Star.svg);
  @include size(268px, 268px);
  position: absolute;
  top: 68px;
  right: 396px;

  @media (max-width: 1340px) {
    right: 218px;
  }

  @media (max-width: 800px) {
    top: 90px;
    right: 186px;
    @include size(227px, 227px);
    background-size: cover;
  }

  @media (max-width: 680px) {
    right: 130px;
  }

  @media (max-width: 560px) {
    right: 80px;
  }

  @media (max-width: 420px) {
    right: 60px;
  }

  @media (max-width: 390px) {
    top: 90px;
    right: 80px;
    @include size(147px, 151px);
  }
}

.main-design__element:nth-child(2)::after {
  content: "";
  background-image: url(/images/icons/Butterfly.svg);
  @include size(187px, 192px);
  position: absolute;
  top: 112px;
  right: 164px;

  @media (max-width: 1340px) {
    right: 68px;
  }

  @media (max-width: 800px) {
    top: 140px;
    right: 62px;
    @include size(147px, 151px);
    background-size: cover;
  }

  @media (max-width: 680px) {
    right: 200px;
  }

  @media (max-width: 560px) {
    right: 130px;
  }

  @media (max-width: 420px) {
    right: 100px;
  }

  @media (max-width: 390px) {
    top: 100px;
    right: 90px;
    @include size(134px, 137px);
  }
}

.main-design__element:nth-child(3)::after {
  content: "";
  background-image: url(/images/icons/Asterisk-1.svg);
  @include size(233px, 225px);
  position: absolute;
  top: 94px;
  right: 140px;

  @media (max-width: 1340px) {
    right: 62px;
  }

  @media (max-width: 800px) {
    top: 110px;
    right: 56px;
    @include size(183px, 177px);
    background-size: cover;
  }

  @media (max-width: 680px) {
    right: 180px;
  }

  @media (max-width: 560px) {
    right: 110px;
  }

  @media (max-width: 420px) {
    right: 90px;
  }

  @media (max-width: 390px) {
    top: 80px;
    right: 85px;
    @include size(148px, 143px);
  }
}

.main-design__image--big {
  filter: grayscale(1);
  @include size(100%, 414px);
  border-radius: 40px;

  @media (max-width: 390px) {
    @include size(100%, 325px);
  }
}

.main-design__image--small {
  filter: grayscale(1);

  @include size(100%, 414px);
  border-radius: 40px;

  @media (max-width: 390px) {
    @include size(100%, 325px);
  }
}

.main-slogan {
  position: relative;
  display: flex;
  justify-content: center;
}

.main-slogan__image {
  @include size(100%, 800px);
  background-image: url(/images/Rectangle-8.jpg);
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
}

.main-slogan-text {
  color: $white;
  @include text(48px, 700, normal);
  text-align: center;
  position: absolute;
  bottom: 260px;
  width: 1059px;

  @media (max-width: 1080px) {
    width: 904px;
  }

  @media (max-width: 890px) {
    width: 804px;
  }

  @media (max-width: 820px) {
    width: 704px;
  }

  @media (max-width: 780px) {
    width: 504px;
  }

  @media (max-width: 600px) {
    width: 504px;
    @include text(36px, 700, normal);
  }

  @media (max-width: 570px) {
    width: 343px;
    @include text(28px, 700, normal);
  }

  @media (max-width: 400px) {
    width: 343px;
    @include text(24px, 700, normal);
  }
}
