.main-portfolio {
  display: flex;
  flex-direction: column;
  background-color: $bright-black;
  @include padding(86px, 0, 0, 86px);
  gap: 64px;

  @media (max-width: 1360px) {
    gap: 102px;
  }

  @media (max-width: 500px) {
    gap: 64px;
  }
}

.main-portfolio__project {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1010px;
  border-radius: 24px;
  background: $ivory-white;
  position: relative;
  @include padding(24px, 20px, 20px, 24px);

  @media (max-width: 1360px) {
    width: 704px;
  }

  @media (max-width: 800px) {
    width: 604px;
  }

  @media (max-width: 680px) {
    width: 504px;
  }

  @media (max-width: 560px) {
    width: 404px;
  }

  @media (max-width: 480px) {
    width: 344px;
  }

  @media (max-width: 390px) {
    width: 311px;
  }
}

.main-portfolio__project-image {
  @include size(100%, 498px);

  @media (max-width: 1080px) {
    height: 498px;
  }

  @media (max-width: 810px) {
    height: 458px;
  }

  @media (max-width: 690px) {
    height: 278px;
  }
}

.main-portfolio__apps {
  @media (max-width: 580px) {
    width: 440px;
  }

  @media (max-width: 560px) {
    width: 404px;
  }

  @media (max-width: 480px) {
    width: 380px;
  }

  @media (max-width: 375px) {
    width: 344px;
  }
}
.main-portfolio__content {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.main-portfolio__content-apps {
  display: flex;
  flex-direction: column;
  gap: 22px;

  @media (max-width: 820x) {
    width: 304px;
  }
}

.main-portfolio__project-title {
  color: $grey;
  @include text(40px, 600, normal);

  @media (max-width: 680px) {
    width: 604px;
    align-self: stretch;
    font-size: 32px;
  }

  @media (max-width: 700px) {
    width: 450px;
  }

  @media (max-width: 560px) {
    width: 300px;
  }
}

.main-portfolio__project-text {
  color: $pure-black;
  font-family: Manrope;
  @include text(16px, 700, normal);
  width: 580px;

  @media (max-width: 680px) {
    width: 500px;
  }

  @media (max-width: 600px) {
    width: 400px;
  }

  @media (max-width: 540px) {
    width: 411px;
  }

  @media (max-width: 480px) {
    width: 344px;
  }
}

.main-portfolio__apps {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.main-portfolio__apps-element {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background: $ivory-white;
  @include padding(20px, 20px, 20px, 20px);
  width: 325px;
  gap: 20px;
  position: relative;

  @media (max-width: 1040px) {
    width: 328px;
  }

  @media (max-width: 830px) {
    width: 328px;
    @include padding(12px, 12px, 12px, 12px);
  }

  @media (max-width: 560px) {
    width: 404px;
  }

  @media (max-width: 390px) {
    width: 311px;
  }
}

.main-portfolio__apps-element:last-child {
  @media (max-width: 1360px) {
    display: none;
  }
}

.main-portfolio__apps-element:nth-child(1) {
  @media (max-width: 810px) {
    display: none;
  }
}

.main-portfolio__apps-image {
  @include size(100%, 100%);

  @media (max-width: 1280px) {
    height: 448px;
  }

  @media (max-width: 830px) {
    height: 448px;
  }

  @media (max-width: 810px) {
    height: 363px;
  }
}

.main-portfolio__icon {
  @include size(60px, 60px);
  position: absolute;
  top: 30px;
  right: 30px;
}

.main-portfolio__apps-title {
  color: $grey;
  @include text(22px, 700, normal); //чи дійсно 22?

  @media (max-width: 1280px) {
    width: 304px;
  }

  @media (max-width: 1040px) {
    width: 304px;
  }
}

.main-portfolio__apps-text {
  color: $pure-black;
  font-family: Manrope;
  @include text(16px, 500, normal);
  width: 285px;
}
